{% extends 'base.html' %}
{% block title %} 
	Autonomous Vehicle Projects
{% endblock %}
{% block content %}
	<h1 style="text-align:center;">Autonomous Projects</h1>
	<h3>Skills Demonstrated on this Page:</h3>
	<h4>SOFTWARE - ROS, C++, Linux</h4>
	<!--center>
	<span style="background:#FFFFFF;">Happy</span> 
	</center-->
	<center>
	<h5>This video demonstrates an autonomous robot navigating a real-life course. The robot utilizes simulated Lidar to complete the course</h5>
	<iframe width="953" height="546" src="https://www.youtube.com/embed/GgcfV2vkXI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>
	&nbsp;&nbsp;
	<center>
	<h5>This video demonstrates an autonomous robot navigating a real-life course. The robot utilizes simulated Lidar to complete this course</h5>
	<iframe width="953" height="546" src="https://www.youtube.com/embed/GgcfV2vkXI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>
	&nbsp;&nbsp;
	<!--image src="{{ url_for('static', filename='images/av.jpg')}}"-->
{% endblock %}